<head>
    <link rel="stylesheet" href="/static/style/chat.css">
</head>
<% if (noConvSet) { %>
    <div style="text-align: center; align-items: center; justify-items: center">
        <p id="noConvText" style="font-size: 22px">Cliquer sur une conversation pour commencer à discuter!</p>
    </div>
    <% } else { %>
        <% discussion.participants.forEach(user=> { %>
            <p class="participant-name">
                <%= user.username %>
            </p>
            <% }) %>
                <div id="messageContainer">
                    <% if (messages) { %>
                        <% messages.forEach(message=> { %>
                            <% let color = (message.sender.username===username) ? 'sender' : 'receiver' %>
                                <span class="<%= color %>">
                                    <%= message.content %>
                                </span>
                                <% }) %>
                            <% } %>
                </div>
                <form id="messageForm">
                    <p id="typingStatus" style="color: #444"></p>
                    <input type="text" name="content" id="content" autocomplete="off" oninput="emitTypingEvent()">
                    <button type="submit">Envoyer</button>
                </form>
                </p>
                <script>
                    window.currentUsername = "<%= username %>";
                    window.conversationId = "<%= discussion.conversationId %>";
                </script>
                <script src="../static/script/script.js" type="module"></script>
                <script src="/socket.io/socket.io.js" type="module"></script>
                <script src="/static/script/conv.js" type="module"></script>
                <% } %>