<% if (discussion && discussion.participants) { %>
    <% discussion.participants.forEach(user => { %>
        <p><%= user.username %></p>
    <% }) %>
<% } %>

<div id="messageContainer">
    <% if (messages) { %>
        <% messages.forEach(message => {
            const color = (message.sender.username === username) ? 'blue' : 'red';
        %>
            <p style="color:<%= color %>">
                <%= message.sender.username %> :
                <span style="color: black"><%= message.content %></span>
            </p>
        <% }) %>
    <% } %>
</div>

<p id="typingStatus" style="color: #444"></p>

<form id="messageForm" action="/send-message" method="POST">
    <input type="hidden" name="conversationId" value="<%= discussion._id %>">
    <input type="text" name="content" id="content" oninput="emitTypingEvent()" required>
    <button type="submit">Envoyer</button>
</form>

<script>
    window.conversationId = "<%= discussion._id %>";
    window.currentUsername = "<%= username %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="../static/script/script.js"></script>
