<% if (noConvSet) { %>
    <div style="text-align: center; align-items: center; justify-items: center">
        <p style="font-size: 22px">Cliquer sur une conversation pour commencer à discuter !</p>
    </div>
    <% } else { %>
        <% discussion.participants.forEach(user=> { %>
            <p>
                <%= user.username %>
            </p>
            <% }) %>
                <div id="messageContainer">
                    <% if (messages) { %>
                        <% messages.forEach(message=> { %>
                            <% let color=(message.sender.username===username) ? 'blue' : 'red' ; %>
                                <p style="color:<%= color %>">
                                    <%= message.sender.username %> : <span style="color: black">
                                            <%= message.content %>
                                        </span>
                                </p>
                        <% }) %>
                    <% } %>
                </div>
                <p id="typingStatus" style="color: #444"></p>
                <form id="messageForm">
                    <input type="text" name="content" id="content" oninput="emitTypingEvent()">
                    <button type="submit">Envoyer</button>
                </form>
                <script src="/socket.io/socket.io.js"></script>
                <script src="../static/script/script.js"></script>
                <script>
                    window.currentUsername = "<%= username %>";
                    window.conversationId = "<%= discussion.conversationId %>";
                </script>
    <% } %>
    <p style="color: gray;">ID debug : <%= discussion.conversationId %></p>
